{% extends 'base_pages.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">

  <title>Administrador - SYLENDAR</title>
</head>

<body>
          <h1 class="mb-4">Painel Administrativo</h1>
          
          <div class="col-lg-12">
            <div class="main-green-button scroll-to-section">
                <a href="{% url 'cadastrar_equipamento' %}" class="btn btn-primary btn-block">Cadastrar Equipamento</a>
            </div>
          </div>
          <div class="col-lg-12">
              <div class="main-green-button scroll-to-section">
                  <a href="{% url 'excluir_equipamento' %}" class="btn btn-primary btn-block">Excluir Equipamento</a>
              </div>
          </div>
          <div class="col-lg-12">
              <div class="main-green-button scroll-to-section">
                  <a href="{% url 'editar_equipamento' %}" class="btn btn-primary btn-block">Editar Equipamento</a>
              </div>
          </div>
          <div class="col-lg-12">
              <div class="main-green-button scroll-to-section">
                  <a href="{% url 'visualizar_equipamentos' %}" class="btn btn-primary btn-block">Equipamentos Cadastrados</a>
              </div>
          </div>
          <div class="col-lg-12">
              <div class="main-green-button scroll-to-section">
                  <a href="{% url 'historico_agendamentos' %}" class="btn btn-primary btn-block">Histórico de Agendamentos dos Clientes</a>
              </div>
          </div>
          <div class="col-lg-12">
              <div class="main-green-button scroll-to-section">
                  <a href="{% url 'marcar_como_emprestado' %}" class="btn btn-primary btn-block">Marcar Como Emprestado</a>
              </div>
          </div>
          <div class="col-lg-12">
              <div class="main-green-button scroll-to-section">
                  <a href="{% url 'marcar_devolucao' %}" class="btn btn-primary btn-block">Marcar Como Devolvido</a>
              </div>
          </div>
          
          <div class="col-lg-12">
            <div class="main-green-button scroll-to-section">
                <a href="{% url 'agendamentos_emprestados' %}" class="btn btn-primary btn-block">Emprestados</a>
            </div>
        </div>   
          <div class="row justify-content-center mt-5">
              <div class="col-md-6">
                  <a href="{% url 'home' %}" class="btn btn-primary btn-block btn-voltar">Voltar</a>
              </div>
          </div>
      </div>
  </div>
</body>
</html>

{% endblock %}
