{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Agendar Equipamento</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>

<body>
    <div class="container_historico">
        <div class="agendar-equipamento-form">
            <h2>Agendar Equipamento</h2>
            <form method="post" action="{% url 'agendar_equipamento' %}">
                {% csrf_token %}
                <label for="equipamento">Selecione o Equipamento:</label>
                <select id="equipamento" name="equipamento">
                    {% for equipamento in equipamentos %}
                    <option value="{{ equipamento.id }}">{{ equipamento.nome }}</option>
                    {% endfor %}
                </select>
                <label for="data">Data:</label>
                <input type="date" id="data" name="data" required>
                <label for="hora">Hora:</label>
                <input type="time" id="hora" name="hora" required>
                <input type="submit" value="Agendar">
            </form>

            {% if error_message %}
            <p class='error_message'>{{ error_message }}</p>
            {% endif %}
        </div>
        <a href="{% url 'cliente' %}" class="botao-voltar">Voltar</a>
    </div>
</body>

</html>
