{% extends 'base_pages.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">

  <title>Cadastrar Equipamentos - SYLENDAR</title>
  <!-- Adicione o SweetAlert2 -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
 
</head>

<body>

    {% if messages %}
        {% for message in messages %}
            <p class="alert alert-{{ message.tags }}">{{ message }}</p>
        {% endfor %}
    {% endif %}

    <div class="container_home">
        <div class="home-form">
            <h1>Cadastro de Equipamentos</h1>

            <form action="{% url 'cadastrar_equipamento' %}" method="post" autocomplete="off">

                {% csrf_token %}
                <div class="form-group">
                    <label for="nome">Nome</label>
                    <input type="text" class="form-control" id="nome" name="nome_equipamento" required>
                </div>
                <div class="form-group">
                    <label for="descricao">Descrição</label>
                    <textarea class="form-control" id="descricao" name="descricao" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label for="fabricante">Fabricante</label>
                    <input type="text" class="form-control" id="fabricante" name="fabricante">
                </div>
                <div class="form-group">
                    <label for="data_aquisicao">Data de Aquisição</label>
                    <input type="date" class="form-control" id="data_aquisicao" name="data_aquisicao">
                </div>
                <div class="form-group">
                    <label for="quantidade">Quantidade Disponível</label>
                    <input type="number" class="form-control" id="quantidade" name="quantidade_disponivel" required>
                </div>
                <button type="submit" class="btn btn-primary" style="background-color: blue !important;">Salvar</button>
                <a href="{% url 'administrador' %}" class="btn btn-secondary" style="background-color: blue !important;">Cancelar</a>
            </form>
        </div>
    </div>
</center>

<!-- Script JavaScript para exibir o alerta SweetAlert2 -->
<script>
  {% if success %}
      Swal.fire({
          icon: 'success',
          title: 'Cadastro realizado com sucesso!',
          showConfirmButton: true,
          showCancelButton: true,
          confirmButtonText: 'Voltar para o administrador',
          cancelButtonText: 'Cadastrar outro equipamento',
      }).then((result) => {
          if (result.isConfirmed) {
              window.location.href = "{% url 'administrador' %}";
          } else {
              window.location.href = "{% url 'cadastrar_equipamento' %}";
          }
      });
  {% endif %}
</script>
</body>
</html>
{% endblock %}
