{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Sistema de Agendamentos</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
<center>
    {% if messages %}
        {% for message in messages %}
            <p class="alert alert-{{ message.tags }}">{{ message }}</p>
        {% endfor %}
    {% endif %}

    <div class="container_home">
        <div class="home-form">
            <h1>Cadastro</h1>

            <form action="{% url 'cadastrar_equipamento' %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="nome">Nome</label>
                    <input type="text" class="form-control" id="nome" name="nome_equipamento" required>
                </div>
                <div class="form-group">
                    <label for="descricao">Descrição</label>
                    <textarea class="form-control" id="descricao" name="descricao" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label for="fabricante">Fabricante</label>
                    <input type="text" class="form-control" id="fabricante" name="fabricante">
                </div>
                <div class="form-group">
                    <label for="data_aquisicao">Data de Aquisição</label>
                    <input type="date" class="form-control" id="data_aquisicao" name="data_aquisicao">
                </div>
                <div class="form-group">
                    <label for="quantidade">Quantidade Disponível</label>
                    <input type="number" class="form-control" id="quantidade" name="quantidade_disponivel" required>
                </div>
                <button type="submit" class="btn btn-primary">Salvar</button>
                <a href="{% url 'administrador' %}" class="btn btn-secondary">Cancelar</a>
            </form>
            
          
            <footer>
                <p>&copy; 2024 Sistema de Agendamentos</p>
            </footer>
        </div>
    </div>
    <center>
</body>

</html>
