{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Sistema de Agendamentos - Cliente</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container_home">
        <div class="home-form">
            <h1> Sistema de Agendamentos</h1>
            <p>Bem-vindo, {{ request.session.username }}</p>
            <a class="btn-primary" href={% url 'cliente' %}><button class="btn-primary">Cliente</button></a>
            <section>
                <h2>Sobre o Sistema</h2>
                <p>
                    Este é o sistema de agendamentos. Você pode usar esta plataforma para agendar compromissos e equipamentos, verificar seu histórico de agendamentos e muito mais.
                </p>
            </section>
            <footer>
                <p>&copy; 2024 Sistema de Agendamentos</p>
            </footer>
            {% if error_message %}
            <p>{{ error_message }}</p>
            {% endif %}
        </div>
    </div>
</body>

</html>
