{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Sistema de Agendamentos</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        /* Estilo para o botão de perfil */
        .profile-button {
            position: fixed;
            top: 20px;
            right: 20px;
            z-index: 9999;
        }
    </style>
</head>

<body>
    <div class="container_home">
        <div class="home-form">
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
            
            <!-- Botão de perfil com ícone e dica -->
            <a href="{% url 'perfil' %}" class="btn btn-primary profile-button" title="Editar Perfil"><i class="fas fa-user"></i></a>

            
            <h1 class="mb-4">Meus Agendamentos</h1>
            <p>Logado como: {{ request.user.username }}</p>
            <a href="{% url 'agendar_equipamento' %}" class="btn btn-primary btn-block">Agendar Equipamento</a>
            <a href="{% url 'meus_agendamentos' %}" class="btn btn-primary btn-block">Meus Agendamentos</a>
            <a href="{% url 'visualizar_equipamentos' %}" class="btn btn-primary btn-block">Listar Equipamentos Disponíveis</a>
            
            <!-- Div separando o botão de historico -->
            <div class="mt-3">
                <a href="{% url 'historico' %}" class="btn btn-primary btn-block">Histórico de Agendamentos</a>
            </div>
            
            <!--Botão para o logout-->
            <div class="mt-3">
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary btn-block">Logout</button>
                </form>
            </div>
         
            <footer class="mt-5">
                <p class="text-center">&copy; 2024 Sistema de Agendamentos</p>
            </footer>
        </div>
    </div>
</body>

</html>
