{% extends 'base_pages.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">

    <title>Cliente - SYLENDAR</title>
</head>
<body>
    <div class="container_home" style="margin-top: 100px;">
        <div class="home-form">
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
            {% endfor %}


            <h1 class="mb-4">Minha Agenda</h1>
            <p>Logado como: {{ request.user.username }}</p>

            <div class="col-lg-12">
                <div class="main-green-button scroll-to-section">
                    <a href="{% url 'agendar_equipamento' %}" class="btn btn-primary btn-block btn-uniform">Agendar Equipamento</a>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="main-green-button scroll-to-section">
                    <a href="{% url 'meus_agendamentos' %}" class="btn btn-primary btn-block btn-uniform">Meus Agendamentos</a>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="main-green-button scroll-to-section">
                    <a href="{% url 'equipamentos_disponiveis' %}" class="btn btn-primary btn-block btn-uniform">Equipamentos Disponiveis</a>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="main-green-button scroll-to-section">
                    <a href="{% url 'historico' %}" class="btn btn-primary btn-block btn-uniform">Histórico de Agendamentos</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
{% endblock %}