{% extends 'base_pages.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">
  
    <title>Editar - SYLENDAR</title>
  
    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  
    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/templatemo-seo-dream.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/animated.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}">
  
    <title>Sistema de Agendamentos</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Adicione o SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

    <style>
        /* Adiciona espaço superior ao conteúdo principal */
        .main-content {
            margin-top: 100px; /* Altere conforme necessário */
        }
    </style>
</head>

<body>
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s" style="position: absolute; top: 0; width: 100%;">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="{% url 'home' %}" class="logo">
                            <h4>Sylendar <img src="{% static 'assets/images/logo-iconn.png' %}" alt=""></h4>
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <!-- Conteúdo principal -->
    <div class="container main-content">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <h3 class="card-header">Edição de Equipamentos</h3>
                    <div class="card-body">
                        <ul class="list-group">
                            {% for equipamento in equipamentos %}
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    {{ equipamento.nome }}
                                    <button class="btn btn-primary" onclick="openEditModal('{{ equipamento.id }}', '{{ equipamento.nome }}', '{{ equipamento.descricao }}', '{{ equipamento.fabricante }}', '{{ equipamento.data_aquisicao }}', '{{ equipamento.quantidade_disponivel }}')">Editar</button>
                                </li>
                            {% endfor %}
                        </ul>
                        <a href="{% url 'administrador' %}" class="btn btn-primary">Voltar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal de Edição -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Editar Equipamento</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="editForm" method="POST" action="{% url 'editar_equipamento' %}">
                        {% csrf_token %}
                        <input type="hidden" id="equipamento_id" name="equipamento_id">
                        <div class="form-group">
                            <label for="nome">Nome:</label>
                            <input type="text" class="form-control" id="nome" name="nome">
                        </div>
                        <div class="form-group">
                            <label for="descricao">Descrição:</label>
                            <textarea class="form-control" id="descricao" name="descricao" rows="3"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="fabricante">Fabricante:</label>
                            <input type="text" class="form-control" id="fabricante" name="fabricante">
                        </div>
                        <div class="form-group">
                            <label for="data_aquisicao">Data de Aquisição:</label>
                            <input type="date" class="form-control" id="data_aquisicao" name="data_aquisicao" required>
                        </div>

                        <div class="form-group">
                            <label for="quantidade_disponivel">Quantidade Disponível:</label>
                            <input type="number" class="form-control" id="quantidade_disponivel" name="quantidade_disponivel">
                        </div>
                        <!-- Adicione mais campos conforme necessário para editar os dados do equipamento -->
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="btnCancelar">Cancelar</button>

                    <button type="button" class="btn btn-primary" onclick="submitEditForm()">Salvar Alterações</button>
                </div>
                
                
            </div>
        </div>
    </div>

    <script>
        // Função para abrir o modal de edição com os dados do equipamento selecionado
        function openEditModal(equipamentoId, nome, descricao, fabricante, data_aquisicao, quantidade_disponivel) {
            document.getElementById('equipamento_id').value = equipamentoId;
            document.getElementById('nome').value = nome;
            document.getElementById('descricao').value = descricao;
            document.getElementById('fabricante').value = fabricante;
            document.getElementById('data_aquisicao').value = data_aquisicao;
            document.getElementById('quantidade_disponivel').value = quantidade_disponivel;
            $('#editModal').modal('show');
        }
    
        // Função para validar o formulário de edição antes de enviar
        function validateEditForm() {
            // Obter os valores dos campos do formulário
            var nome = document.getElementById('nome').value.trim();
            var descricao = document.getElementById('descricao').value.trim();
            var fabricante = document.getElementById('fabricante').value.trim();
            var data_aquisicao = document.getElementById('data_aquisicao').value.trim();
            var quantidade_disponivel = document.getElementById('quantidade_disponivel').value.trim();
    
            // Verificar se algum campo está em branco
            if (nome === '' || descricao === '' || fabricante === '' || data_aquisicao === '' || quantidade_disponivel === '') {
                // Exibir mensagem de erro
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Por favor, preencha todos os campos antes de enviar o formulário!',
                });
                // Retornar false para evitar o envio do formulário
                return false;
            }
    
            // Se todos os campos estiverem preenchidos, permitir o envio do formulário
            return true;
        }
    
        // Função para enviar o formulário de edição quando o botão "Salvar Alterações" é clicado
        function submitEditForm() {
            // Validar o formulário antes de enviar
            if (validateEditForm()) {
                document.getElementById('editForm').submit();
            }
        }
        
                // Função para fechar o modal quando o botão "Cancelar" é clicado
        document.getElementById('btnCancelar').addEventListener('click', function() {
            console.log("Botão Cancelar clicado");
            $('#editModal').modal('hide');
        });
        
         // Função para exibir alerta de sucesso quando o equipamento é editado
         {% if messages %}
         {% for message in messages %}
             {% if message.tags == 'success' %}
                 Swal.fire({
                     icon: 'success',
                     title: 'Sucesso!',
                     text: '{{ message }}',
                 });
             {% elif message.tags == 'error' %}
                 Swal.fire({
                     icon: 'error',
                     title: 'Erro!',
                     text: '{{ message }}',
                 });
             {% endif %}
         {% endfor %}
     {% endif %}
 </script>


    </script>
    

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/owl-carousel.js' %}"></script>
    <script src="{% static 'assets/js/animation.js' %}"></script>
    <script src="{% static 'assets/js/imagesloaded.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>
</body>
</html>
{% endblock %}

