{% extends 'base_pages.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <title>Equipamentos Cadastrados - SYLENDAR</title>
    <!-- Adicione o SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

</head>
<body>
    {% if equipamentos %}
        <div class="container content">
            <div class="center-content">
                <h1 class="text-center mb-4">Equipamentos Disponiveis</h1>
                <!-- Adicione a caixa de pesquisa -->
                <form method="GET" class="form-inline justify-content-center mb-4">
                    <input type="text" class="form-control mr-sm-2" name="q" placeholder="Pesquisar equipamento">
                    <button type="submit" class="btn btn-primary">Pesquisar</button>
                </form>
            </div>
            <div class="row">
                {% for equipamento in equipamentos %}
                    {% if equipamento.quantidade_disponivel > 0 %}
                        <div class="col-md-4 mb-4">
                            <div class="card">
                                <div class="card-body">
                                    <h5 class="card-title">{{ equipamento.nome }}</h5>
                                    <p class="card-text">{{ equipamento.descricao }}</p>
                                    <p class="card-text">Fabricante: {{ equipamento.fabricante }}</p>
                                    {% if request.user.is_staff %}
                                    <p class="card-text">Data de Aquisição: {{ equipamento.data_aquisicao }}</p>
                                    {% endif %}
                                    <p class="card-text">Quantidade Disponível: {{ equipamento.quantidade_disponivel }}</p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            <a href="{% url 'cliente' %}" class="btn btn-primary">Voltar</a>
        </div>
    {% endif %}
</body>
</html>
{% endblock %}
