<!-- excluir_equipamento.html -->
{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excluir Equipamento</title>
    <!-- Adicione o link para o seu arquivo CSS aqui -->
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Adicione o link para o CSS do SweetAlert2 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <style>
        .equipamento-card {
            margin-bottom: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px;
        }
        .equipamento-card h3 {
            margin-top: 0;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="mt-4">Excluir Equipamento</h1>
        <div class="row mb-4">
            <div class="col-md-6">
                <form id="searchForm" method="GET">
                    <div class="form-group">
                        <label for="search">Pesquisar por Nome do Equipamento:</label>
                        <input type="text" class="form-control" id="search" name="search" placeholder="Digite o nome do equipamento">
                    </div>
                    <button type="submit" class="btn btn-primary">Pesquisar</button>
                </form>
            </div>
        </div>
        <div class="row">
            {% for equipamento in equipamentos %}
            <div class="col-md-4">
                <div class="card equipamento-card">
                    <div class="card-body">
                        <h3>{{ equipamento.nome }}</h3>
                        <p><strong>Descrição:</strong> {{ equipamento.descricao }}</p>
                        <p><strong>Fabricante:</strong> {{ equipamento.fabricante }}</p>
                        <p><strong>Data de Aquisição:</strong> {{ equipamento.data_aquisicao }}</p>
                        <p><strong>Quantidade Disponível:</strong> {{ equipamento.quantidade_disponivel }}</p>
                        <!-- Adicionar chamada JavaScript para confirmar a exclusão -->
                        <button type="button" class="btn btn-danger" onclick="confirmarExclusao('{{ equipamento.nome }}', '{{ equipamento.id }}')">Excluir</button>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <a href="{% url 'administrador' %}" class="btn btn-primary mt-4">Voltar</a>
    </div>
    
    <!-- Adicione o script do SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>

    <script>
        function confirmarExclusao(nomeEquipamento, idEquipamento) {
            // Use SweetAlert2 para confirmar a exclusão
            Swal.fire({
                title: 'Tem certeza?',
                text: "Você deseja excluir o equipamento '" + nomeEquipamento + "'?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Sim, excluir!',
                cancelButtonText: 'Cancelar'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Se confirmado, faça a exclusão aqui
                    window.location.href = "{% url 'excluir_equipamento' %}?equipamento_id=" + idEquipamento;
                    // Exibir mensagem de sucesso após a exclusão
                    Swal.fire(
                        'Excluído!',
                        'O equipamento foi excluído com sucesso.',
                        'success'
                    );
                }
            });
        }
    </script>
</body>
</html>
