{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excluir Equipamento</title>
    <!-- Adicione o link para o seu arquivo CSS aqui -->
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container_home">
        <div class="home-form">
            <h1>Excluir Equipamento</h1>
            <p>Selecione o equipamento que deseja excluir:</p>
            <form action="{% url 'excluir_equipamento' %}" method="POST" id="deleteForm">
                {% csrf_token %}
                <select name="equipamento_id">
                    {% for equipamento in equipamentos %}
                        <option value="{{ equipamento.id }}">{{ equipamento.nome }}</option>
                    {% endfor %}
                </select>
                <br>
                <br>
                <input type="submit" value="Excluir" onclick="return confirmarExclusao()">
                <br>
                <br>
                
                <a href="{% url 'administrador' %}" class="btn btn-secondary">Voltar</a>
                
            </form>
        </div>
    </div>
    
    <script>
        function confirmarExclusao() {
            var equipamentoSelecionado = document.querySelector('select[name="equipamento_id"]').value;
            var equipamentoNome = document.querySelector('select[name="equipamento_id"] option[value="' + equipamentoSelecionado + '"]').innerText;
            return confirm("Tem certeza que deseja excluir o equipamento '" + equipamentoNome + "'?");
        }
    </script>
</body>
</html>


