{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Histórico de Equipamentos</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container_cliente">
        <div class="cliente-form">
            <h1>Histórico de Equipamentos</h1>
            
            <table class="table">
                <thead>
                    <tr>
                        <th>ID do Agendamento</th>
                        <th>Equipamento</th>
                        <th>Data</th>
                        <th>Hora</th>
                        <th>Status do Agendamento</th> <!-- Novo campo para o status do agendamento -->
                    </tr>
                </thead>
                <tbody>
                    {% for agendamento in agendamentos %}
                    <tr>
                        <td>{{ agendamento.id }}</td>
                        <td>{{ agendamento.equipamento }}</td>
                        <td>{{ agendamento.data }}</td>
                        <td>{{ agendamento.hora }}</td>
                        <td>
                            {% if agendamento.cancelado %}
                                Cancelado
                            {% else %}
                                {% if agendamento.data < timezone.now %}
                                    Passado
                                {% elif agendamento.data == timezone.now %}
                                    Agendado para agora
                                {% else %}
                                    Agendamento futuro
                                {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a class="btn_separado" href="{% url 'cliente' %}"><button class="btn_separado">Voltar</button></a>
            <footer>
                <p>&copy; 2024 Sistema de Agendamentos</p>
            </footer>
            {% if error_message %}
            <p>{{ error_message }}</p>
            {% endif %}
        </div>
    </div>
</body>

</html>
