{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Histórico de Agendamentos</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container_home">
        <div class="home-form">
            <h1>Histórico de Agendamentos</h1>
            
            <table class="table">
                <thead>
                    <tr>
                        <th>ID do Agendamento</th>
                        <th>Equipamento</th>
                        <th>Data</th>
                        <th>Hora</th>
                        <th>Status do Agendamento</th> <!-- Novo campo para o status do agendamento -->
                    </tr>
                </thead>
                <tbody>
                    {% for agendamento in agendamentos %}
                    <tr>
                        <td>{{ agendamento.id }}</td>
                        <td>{{ agendamento.equipamento }}</td>
                        <td>{{ agendamento.data }}</td>
                        <td>{{ agendamento.hora }}</td>
                        <td>
                            {% if agendamento.cancelado %}
                                Cancelado
                            {% elif agendamento.reagendado %}
                                Reagendado
                            {% elif agendamento.devolvido %}
                                Devolvido
                            {% elif agendamento.emprestado %}
                                Emprestado
                            {% elif agendamento.data < timezone.now %}
                                Passado
                            {% elif agendamento.data == timezone.now %}
                                Agendado para agora
                            {% else %}
                                Agendamento futuro
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a class="btn btn-primary" href="{% url 'cliente' %}">Voltar</a>
            <footer>
                <p>&copy; 2024 Sistema de Agendamentos</p>
            </footer>
            {% if error_message %}
            <p>{{ error_message }}</p>
            {% endif %}
        </div>
    </div>
</body>

</html>
