{% extends 'base_pages.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap" rel="stylesheet">

    <title>Sylendar</title>
</head>

<body>
      {% if messages %}
      <ul class="messages">
          {% for message in messages %}
              <li>{{ message }}</li>
          {% endfor %}
      </ul>
  {% endif %}
  
  <div class="jumbotron responsive-jumbotron">
    <h1 class="display-4">Olá, {{ user.username }}!</h1>
    <hr class="my-4">
    <div class="col-12">
      <div class="main-green-button scroll-to-section">
        <a href="{% url 'cliente' %}">Página do cliente</a>
      </div>
    </div>
    {% if request.user.is_superuser %}
    <div class="col-12 mt-3">
      <div class="main-green-button scroll-to-section">
        <a href="{% url 'administrador' %}">Página do administrador</a>
      </div>
    </div>
    {% endif %}
  </div>
    </div>
</body>
</html>
{% endblock %}
