{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
 </head>

<body>
    <div class="container_home">
        <div class="home-form">
            <h1 class="display-4">Bem-vindo(a), {{ user.username }}, à Página Inicial</h1>
            <p class="lead">Sistema de Agendamentos.</p>
            <hr class="my-4">
            <p>Esta é a página inicial do sistema de agendamentos.</p>
            <p class="lead">
            
            <a class="btn btn-success btn-custom" href="{% url 'cliente' %}" role="button">Ir para a página do cliente</a>
            
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-secondary btn-custom">Logout</button>
                </form>
                
            </p>
        </div>
    </div>
</body>

</html>
