{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>Listar Equipamentos</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container_home">
        <h2>Equipamentos Disponíveis</h2>
        <!-- Adicione a caixa de pesquisa -->
        <form method="GET">
            <div class="form-group">
                <input type="text" class="form-control" name="q" placeholder="Pesquisar por nome">
                <button type="submit" class="btn btn-primary mt-2">Pesquisar</button>
            </div>
        </form>
        <div class="row">
            {% for equipamento in equipamentos %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">{{ equipamento.nome }}</h5>
                        <p class="card-text">{{ equipamento.descricao }}</p>
                        <p class="card-text">Fabricante: {{ equipamento.fabricante }}</p>
                        {% if request.user.is_staff %}
                        <p class="card-text">Data de Aquisição: {{ equipamento.data_aquisicao }}</p>
                        {% endif %}
                        <p class="card-text">Quantidade Disponível: {% if equipamento.quantidade_disponivel > 0 %}{{ equipamento.quantidade_disponivel }}{% else %}Indisponível no momento{% endif %}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <a href="javascript:history.back()" class="btn-primary">Voltar</a>
    </div>
</body>

</html>
