{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Marcar como Emprestado</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <center>
        <div class="container_home">
            <div class="home-form">
        <h2>Marcar Agendamentos como Emprestados</h2>
        <form method="post">
            {% csrf_token %}
            {% for agendamento in agendamentos %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="agendamento_{{ agendamento.id }}" name="agendamento" value="{{ agendamento.id }}">
                    <label class="form-check-label" for="agendamento_{{ agendamento.id }}">
                        {{ agendamento.cliente_nome }} - {{ agendamento.equipamento.nome }}
                    </label>
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-success">Marcar como Emprestado</button>
            
        </form>
        
    </div>
</div>
<a href="{% url 'administrador' %}" class="btn-primary">Voltar</a>
</div>
<center>
</body>
</html>

