{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Erro no Sistema de Agendamentos</title>
    <!-- Adicione seu estilo personalizado aqui, se necessário -->
    <style>
        /* Estilos personalizados */
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            color: #333;
            text-align: center;
            padding: 50px;
        }
        h1 {
            font-size: 36px;
            color: #ff6347; /* Tom de vermelho */
        }
        p {
            font-size: 18px;
            margin-bottom: 20px;
        }
        /* Adicione mais estilos conforme necessário */
    </style>
</head>
<body>
    <div>
        <h1>Ocorreu um Erro no Sistema de Agendamentos</h1>
        <p>Lamentamos pelo inconveniente, mas parece que ocorreu um erro no sistema de agendamentos.</p>
        <p>Por favor, tente novamente mais tarde.</p>
        <!-- Adicione mais detalhes sobre o erro, se desejar -->
    </div>
</body>
</html>
