{% extends 'base_pages.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Editar Perfil</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'profile.css' %}"> <!-- Adicione o link para o seu novo arquivo CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Adicione o link para o CSS do SweetAlert2 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
</head>

<body>
    <div class="container_home container">
        <div class="home-form">
            <h2>Meu Perfil</h2>
            <form method="post" id="profile-form">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_first_name">Nome: </label>
                    {{ form.first_name }}
                </div>
                <div class="form-group">
                    <label for="id_last_name">Sobrenome: </label>
                    {{ form.last_name }}
                </div>
                <div class="form-group">
                    <label for="id_email">Email: </label>
                    {{ form.email }}
                </div>
                <div class="form-group">
                    <label for="id_telefone">Telefone: </label>
                    {{ form.telefone }}
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Atualizar Perfil</button>
                    <button type="button" class="btn btn-secondary" id="cancel-btn">Cancelar</button> <!-- Botão de cancelar -->
                </div>
            </form>
        </div>
    </div>

    <!-- Adicione o script do SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const form = document.getElementById('profile-form');
            const cancelBtn = document.getElementById('cancel-btn');

            form.addEventListener('submit', async function (event) {
                event.preventDefault();
                const formData = new FormData(form);
                try {
                    // Mostrar a mensagem de carregamento
                    Swal.showLoading();
                    const response = await fetch(form.action, {
                        method: 'POST',
                        body: formData,
                        headers: {
                            'X-CSRFToken': '{{ csrf_token }}'
                        }
                    });
                    if (response.ok) {
                        // Fechar a mensagem de carregamento
                        Swal.close();
                        Swal.fire({
                            icon: 'success',
                            title: 'Perfil atualizado com sucesso!',
                            showConfirmButton: false,
                            timer: 1500
                        }).then(() => {
                            // Redirecionar o usuário para a página anterior
                            window.history.back();
                        });
                    } else {
                        throw new Error('Erro ao atualizar perfil');
                    }
                } catch (error) {
                    console.error(error);
                    Swal.close();
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Ocorreu um erro ao atualizar o perfil!',
                    });
                }
            });

            // Event listener para o botão de cancelar
            cancelBtn.addEventListener('click', function () {
                // Redirecionar o usuário para a página anterior
                window.history.back();
            });
        });
    </script>
</body>

</html>

{% endblock %}
