{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Detalhes do Agendamento</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script>
        function confirmarReagendamento() {
            if (confirm("Tem certeza de que deseja reagendar este agendamento?")) {
                window.location.href = "{% url 'reagendar_agendamento' agendamento.id %}";
            }
        }
    </script>
</head>

<body>
    <div class="container_detalhes_agendamento">
        <div class="detalhes-agendamento">
            <h2>Detalhes do Agendamento</h2>
            <p><strong>Equipamento:</strong> {{ agendamento.equipamento.nome }}</p>
            <p><strong>Data:</strong> {{ agendamento.data }}</p>
            <p><strong>Hora:</strong> {{ agendamento.hora }}</p>

            <!-- Botão para reagendar -->
            <h3>Reagendar</h3>
            <button class="btn btn-primary" onclick="confirmarReagendamento()">Reagendar</button>

            <!-- Formulário para cancelar -->
            <h3>Cancelar</h3>
            <form method="post" action="{% url 'cancelar_agendamento' agendamento.id %}">
                {% csrf_token %}
                <input type="submit" class="btn btn-danger" value="Cancelar">
            </form>

            {% if error_message %}
            <p class='error_message'>{{ error_message }}</p>
            {% endif %}
        </div>
    </div>

    <!-- Script JavaScript para confirmação de reagendamento -->
    <script>
        function confirmarReagendamento() {
            if (confirm("Tem certeza de que deseja reagendar este agendamento?")) {
                window.location.href = "{% url 'selecionar_nova_data_hora' agendamento.id %}";
            }
        }
    </script>
</body>

</html>
