
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Relatórios</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}"> <!-- Adicione o link para o arquivo CSS -->
</head>
<body class="container_home"> <!-- Adicione a classe container_home -->
    <h1>Bem-vindo à página de Relatórios</h1>
    <ul class="list-group"> <!-- Adicione a classe list-group -->
        <li class="list-group-item"><a href="{% url 'relatorio_padroes_agendamento' %}">Relatório de Padrões de Agendamento</a></li>
        <li class="list-group-item"><a href="{% url 'relatorio_quantidade_agendamentos_por_dia' %}">Relatório de Quantidade de Agendamentos por Dia</a></li>
    </ul>
</body>
</html>
