{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Sucesso no Agendamento</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container_success">
        <div class="success-message">
            <h1>Agendamento Concluído com Sucesso</h1>
            <p>O seu agendamento foi realizado com sucesso!</p>
        </div>
    </div>
</body>

</html>
