{% extends "base_generic.html" %}
{% load static %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card mt-5">
        <div class="card-body">
          <h5 class="card-title">Você foi desconectado!</h5>
          <p class="card-text">Clique <a href="{% url 'login' %}">aqui</a> para fazer login novamente.</p>
          {% if user.is_authenticated %}
          <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Logout</button>
          </form>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
