{% extends "base_generic.html" %}
{% load static %}

{% block content %}
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container_home">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="card mt-5">
        <div class="card-body">
          {% if form.errors %}
          <div class="alert alert-danger" role="alert">
            Seu nome de usuário e senha não correspondem. Por favor, tente novamente.

          </div>
          {% endif %}

          {% if next %}
          {% if user.is_authenticated %}
          <div class="alert alert-warning" role="alert">
            Sua conta não tem acesso a esta página. Para prosseguir, faça login com uma conta que tenha acesso.
          </div>
          {% else %}
          <div class="alert alert-info" role="alert">
            Faça login para ver esta página.
          </div>
          {% endif %}
          {% endif %}

          <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="form-group">
              {{ form.username.label_tag }}
              {{ form.username }}
            </div>
            <div class="form-group">
              {{ form.password.label_tag }}
              {{ form.password }}
            </div>
            <input type="submit" class="btn btn-primary" value="Login" />
            <input type="hidden" name="next" value="{{ next }}" />
          </form>

          <p>Não tem uma conta? <a href="{% url 'register' %}" class="btn btn-secondary">Cadastre-se</a></p>

          {# Assumes you setup the password_reset view in your URLconf #}
          <p><a href="{% url 'password_reset' %}" class="btn btn-link">Esqueceu a senha?</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
{% endblock %}
