{% extends "base_generic.html" %}
{% load static %}

{% block content %}
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <!-- Adicione o link para o CSS do SweetAlert2 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">
    <style>
        /* Estilo para a mensagem de carregamento */
        .swal2-title {
            font-size: 1.5em;
        }
    </style>
</head>

<body>
<div class="container">
  <div class="row justify-content-center align-items-center vh-100">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          {% if form.errors %}
          <div class="alert alert-danger" role="alert">
            Seu nome de usuário e senha não correspondem. Por favor, tente novamente.
          </div>
          {% endif %}

          {% if next %}
          {% if user.is_authenticated %}
          <div class="alert alert-warning" role="alert">
            Sua conta não tem acesso a esta página. Para prosseguir, faça login com uma conta que tenha acesso.
          </div>
          {% else %}
          <div class="alert alert-info" role="alert">
            Faça login para ver esta página.
          </div>
          {% endif %}
          {% endif %}

          <form id="login-form" method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="form-group">
              <label for="username"><i class="fas fa-user"></i></label>
              <input type="text" class="form-control" id="username" name="username" placeholder="Nome de Usuário" required>
            </div>
            <div class="form-group">
              <label for="password"><i class="fas fa-lock"></i></label>
              <input type="password" class="form-control" id="password" name="password" placeholder="Senha" required>
            </div>
            <button id="login-btn" type="submit" class="btn btn-primary btn-block">Login</button>
            <input type="hidden" name="next" value="{{ next }}" />
          </form>

          <p class="text-center">Não tem uma conta? <a href="{% url 'register' %}" class="btn btn-link">Cadastre-se</a></p>

          {# Assumes you setup the password_reset view in your URLconf #}
          <p class="text-center"><a href="{% url 'reset_password' %}" class="btn btn-link">Esqueceu a senha?</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Adicione o script do SweetAlert2 -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>
<script>
    // Event listener for form submission
    document.addEventListener('DOMContentLoaded', function () {
        const loginForm = document.getElementById('login-form');

        // Event listener for form submission
        loginForm.addEventListener('submit', function (event) {
            event.preventDefault(); // Prevent form submission
            
            // Exibir mensagem de carregamento do SweetAlert2 com a mensagem "Fazendo login..."
            Swal.fire({
                title: 'Fazendo login...Espera seu arrombado!',
                allowOutsideClick: false,
                onBeforeOpen: () => {
                    Swal.showLoading();
                }
            });

            // Submeter o formulário após 3 segundos para simular o processamento
            setTimeout(() => {
                loginForm.submit();
                // Fechar a mensagem de carregamento após 4 segundos
                setTimeout(() => {
                    Swal.close();
                }, 4000);
            }, 4000);
        });
    });
</script>
</body>
{% endblock %}
