{% extends "base_generic.html" %}
{% load static %}

{% block content %}
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>

<body>
<div class="container">
  <div class="row justify-content-center align-items-center vh-100">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          {% if form.errors %}
          <div class="alert alert-danger" role="alert">
            Seu nome de usuário e senha não correspondem. Por favor, tente novamente.
          </div>
          {% endif %}

          {% if next %}
          {% if user.is_authenticated %}
          <div class="alert alert-warning" role="alert">
            Sua conta não tem acesso a esta página. Para prosseguir, faça login com uma conta que tenha acesso.
          </div>
          {% else %}
          <div class="alert alert-info" role="alert">
            Faça login para ver esta página.
          </div>
          {% endif %}
          {% endif %}

          <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="form-group">
              <label for="username"><i class="fas fa-user"></i></label>
              {{ form.username }}
            </div>
            <div class="form-group">
              <label for="password"><i class="fas fa-lock"></i></label>
              {{ form.password }}
            </div>
            <button type="submit" class="btn btn-primary btn-block">Login</button>
            <input type="hidden" name="next" value="{{ next }}" />
          </form>

          <p class="text-center">Não tem uma conta? <a href="{% url 'register' %}" class="btn btn-link">Cadastre-se</a></p>

          {# Assumes you setup the password_reset view in your URLconf #}
          <p class="text-center"><a href="{% url 'password_reset' %}" class="btn btn-link">Esqueceu a senha?</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
{% endblock %}
