
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Página de Cadastro</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="login-form"> <!-- Use a mesma classe do formulário de login -->
            <h2>Cadastre-se</h2>
            <form method="post">
                {% csrf_token %}
                
                <div>
                    <label for="id_username">Nome de Usuário:</label>
                    {{ form.username }}
                </div>
                <div>
                    <label for="id_password1">Senha:</label>
                    {{ form.password1 }}
                </div>
                <div>
                    <label for="id_password2">Confirmação de Senha:</label>
                    {{ form.password2 }}
                </div>
                <button type="submit" class="btn_cadastro">Cadastrar</button> <!-- Adicione a mesma classe do botão de login -->
            </form>
        </div>
    </div>
</body>
</html>
