/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos gerais */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Estilos para o formulário de login */
.login-form {
  background-color: #007BFF;
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

.login-form h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.login-form label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login-form input[type="submit"] {
  background-color: #0056b3;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-form input[type="submit"]:hover {
  background-color: #007BFF;
}

/* Estilos para a página home */
.container_home {
  background-color: #007BFF;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.home-form h1 {
  color: #3490db;
}

/* Estilos para a página do cliente */
.container_cliente {
  background-color: #007BFF;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cliente-form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.btn_separado,
.cliente-form button {
  background-color: #007BFF;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px 0;
}

.btn_separado:hover,
.cliente-form button:hover {
  background-color: #0056b3;
}

.cliente-form h1 {
  color: #3498db;
  font-size: 24px;
  margin-bottom: 20px;
}

/* Estilizar rótulos (labels) */
label {
  display: block;
  margin: 10px 0;
  color: #333;
}

/* Estilizar a seção de informações */
section {
  margin-top: 20px;
  text-align: left;
}

h2 {
  color: #3498db;
}

/* Estilizar o rodapé */
footer {
  margin-top: 20px;
  text-align: center;
  color: #333;
}

/* Estilizar botões dentro do formulário de agendamentos */
.botao-acoes,
.botao-voltar {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.botao-acoes:hover,
.botao-voltar:hover {
  background-color: #0056b3;
}
