/* Reset de estilos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos gerais */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

.container_home,
.container_cliente,
.container_agendar_equipamento,
.container_historico {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.home-form,
.cliente-form,
.agendar_equipamento-form,
.historico-form {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

nav-link {
  color: #3498db;
  text-decoration: none;
  margin: 10px;
  display: block;
}

nav-link:hover {
  text-decoration: underline;
}

section {
  margin-top: 20px;
  text-align: left;
}

h2 {
  color: #3498db;
}

footer {
  margin-top: 20px;
  text-align: center;
  color: #333;
}

/* Estilos para a tabela de equipamentos */
table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px; /* Ajuste o valor conforme necessário */
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  background-color: #3490db;
  color: white;
}


/* Tabela de visualização de equipamentos   styles.css */
/* styles.css */

/* Estilizando a tabela */
.visualizar-equipamentos-table {
  width: 100%;
  border-collapse: collapse;
}

/* Estilizando as células das células e cabeçalhos da tabela */
.visualizar-equipamentos-table th,
.visualizar-equipamentos-table td {
  border: 1px solid #dddddd;
  padding: 10px; /* Ajuste o valor conforme necessário */
  text-align: left;
}

/* Estilizando o cabeçalho da tabela */
.visualizar-equipamentos-table th {
  background-color: #3490db;
  color: white;
}

/* Estilizando as linhas pares */
.visualizar-equipamentos-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Estilizando o texto na primeira coluna */
.visualizar-equipamentos-table tbody td:first-child {
  font-weight: bold;
}


