{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Sistema de Agendamentos</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <script>
        function abrirModal(id) {
            document.getElementById('modal-confirmacao').style.display = 'block';
            document.getElementById('equipamento_id').value = id;
        }

        function fecharModal() {
            document.getElementById('modal-confirmacao').style.display = 'none';
        }
    </script>
</head>

<body>
    <div class="container_cliente">
        <div class="cliente-form">
            <h1>Painel Administrativo</h1>

            <ul>
                <a class="btn_separado" href={% url 'cadastrar_equipamento' %}><button class="btn_separado">Cadastrar um Equipamento</button></a>
                <a class="btn_separado" href={% url 'excluir_equipamento' %}><button class="btn_separado">Excluir um Equipamento</button></a>
                <a class="btn_separado" href={% url 'editar_equipamento' %}><button class="btn_separado">Editar um Equipamento</button></a>
                <a class="btn_separado" href={% url 'visualizar_equipamentos' %}><button class="btn_separado">Listar Equipamentos Disponiveis</button></a>
                <a class="btn_separado" href={% url 'administrador_home' %}><button class="btn_separado">Voltar</button></a>
                
          
                {% for equipamento in equipamentos %}
                    <li>
                        <a href="{% url 'editar_equipamento' equipamento_id=equipamento.id %}">Editar Equipamento {{ equipamento.id }}</a>
                        <button onclick="abrirModal({{ equipamento.id }})">Excluir Equipamento {{ equipamento.id }}</button>
                    </li>
                {% endfor %}
            </ul>
            
            <tbody>
                {% for equipamento in equipamentos %}
                    <tr>
                        <td>{{ equipamento.nome_equipamento }}</td>
                        <td>{{ equipamento.descricao }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>

            <footer>
                <p>&copy; 2024 Sistema de Agendamentos</p>
            </footer>
        </div>
    </div>
</body>

</html>
