{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Sistema de Agendamentos</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>

<body>
    <div class="container_cliente">
        <div class="cliente-form">
            <h1>Painel Administrativo</h1>

            <ul>
                <li><a href="{% url 'cadastrar_equipamento' %}">Cadastrar um Equipamento</a></li>
                <li><a href="{% url 'editar_equipamento' %}">Editar um Equipamento</a></li>
                <li><a href="{% url 'excluir_equipamento' %}">Excluir um Equipamento</a></li>
            </ul>

            <h1>Lista de Equipamentos</h1>

            <table class="table">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Descrição</th>
                    </tr>
                </thead>
                <tbody>
                    {% for equipamento in equipamentos %}
                        <tr>
                            <td>{{ equipamento.nome_equipamento }}</td>
                            <td>{{ equipamento.descricao }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <a href="{% url 'cadastrar_equipamento' %}">Cadastrar Equipamento</a>

            <footer>
                <p>&copy; 2023 Sistema de Agendamentos</p>
            </footer>
        </div>
    </div>
</body>

</html>
