{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Agendar Equipamento</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>

<body>
    <div class="container_cliente">
        <div class="cliente-form">
            <h1>Agendar Equipamento</h1>
            <form method="post" action="{% url 'adicionar_agendamento' %}">
                {% csrf_token %}
                <label for="equipamento">Selecione o Equipamento:</label>
                <select name="equipamento" id="equipamento">
                    {% for equipamento in equipamentos %}
                        <option value="{{ equipamento.id }}">{{ equipamento.nome }}</option>
                    {% endfor %}
                </select>
                <br>
                <label for="data">Data:</label>
                <input type="date" name="data" id="data">
                <br>
                <label for="hora">Hora:</label>
                <input type="time" name="hora" id="hora">
                <br>
                <input type="submit" value="Agendar">
            </form>
            
            <footer>
                <p>&copy; 2024 Sistema de Agendamentos</p>
            </footer>
            {% if error_message %}
            <p>{{ error_message }}</p>
            {% endif %}
        </div>
    </div>
</body>

</html>
