{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Sistema de Agendamentos</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>

<body>
    {% if mensagem %}
        <p class="alert alert-success">{{ mensagem }}</p>
    {% endif %}

    <div class="container_cliente">
        <div class="cliente-form">
            <h1>Cadastro</h1>
            <a class="btn_separado" href="{% url 'cadastrar_equipamento' %}"><button class="btn_separado">Cadastrar</button></a>

            <form action="{% url 'cadastrar_equipamento' %}" method="post">
              {% csrf_token %}
              <div class="form-group">
                  <label for="nome">Nome</label>
                  <input type="text" class="form-control" id="nome" name="nome_equipamento" required>
              </div>
              <div class="form-group">
                  <label for="descricao">Descrição</label>
                  <textarea class="form-control" id="descricao" name="descricao" rows="3"></textarea>
              </div>
              <button type="submit" class="btn btn-primary">Salvar</button>
          </form>
          

            <footer>
                <p>&copy; 2024 Sistema de Agendamentos</p>
            </footer>
        </div>
    </div>
</body>

</html>
