{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Cancelar Agendamentos</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>

<body>
    <div class="container_cliente">
        <div class="cliente-form">
            <h1>Cancelar Agendamentos</h1>
            <a class="btn_separado" href={% url 'meus_agendamentos' %}><button class="btn_separado">Meus Agendamentos</button></a>
            <a class="btn_separado" href={% url 'agendar_equipamento' %}><button class="btn_separado">Agendar Equipamento</button></a>
            <a class="btn_separado" href={% url 'visualizar_equipamentos' %}><button class="btn_separado">Listar Equipamentos Disponíveis</button></a>
            <a class="btn_separado" href={% url 'historico' %}><button class="btn_separado">Histórico</button></a>
            <form action="{% url 'cancelar_agendamentos' %}" method="post">
                {% csrf_token %}
                <!-- Add your cancel appointment form fields here -->
                <!-- For example, you might have a dropdown to select the appointment to cancel -->
                <label for="appointment_id">Selecione o agendamento a ser cancelado:</label>
                <select name="appointment_id" id="appointment_id">
                    <!-- Options for appointments to cancel -->
                </select>
                <button type="submit" class="btn-cancelar">Cancelar Agendamento</button>
            </form>
            {% if error_message %}
            <p>{{ error_message }}</p>
            {% endif %}
        </div>
    </div>
    <footer>
        <p>&copy; 2024 Sistema de Agendamentos</p>
    </footer>
</body>

</html>
