{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Sistema de Agendamentos</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container_cliente">
        <div class="cliente-form">
            
            <h1>Agendamentos</h1>
            <p>Logado: {{ request.session.username }}</p>
            <a class="btn_separado" href={% url 'meus_agendamentos' %}><button class="btn_separado">Meus Agendamentos</button></a>
            <a class="btn_separado" href={% url 'agendar_equipamento' %}><button class="btn_separado">Agendar Equipamento</button></a>
            <a class="btn_separado" href={% url 'visualizar_equipamentos' %}><button class="btn_separado">Listar Equipamentos Disponiveis</button></a>
            <a class="btn_separado" href={% url 'historico' %}><button class="btn_separado">Histórico</button></a>
            <a class="btn_separado" href={% url 'login' %}><button class="btn_separado">Sair</button></a>
            
            <footer>
                <p>&copy; 2024 Sistema de Agendamentos</p>
            </footer>
        </div>
    </div>
</body>

</html>
