{% load static %}

{% extends 'agendamentos/base.html' %}

{% block content %}

<h1>Editar Equipamento</h1>

<form action="{% url 'editar_equipamento' equipamento.pk %}" method="post">
    {% csrf_token %}

    <div class="form-group">
        <label for="nome_equipamento">Nome do Equipamento</label>
        <input type="text" class="form-control" id="nome_equipamento" name="nome_equipamento" value="{{ equipamento.nome_equipamento }}">
    </div>

    <div class="form-group">
        <label for="descricao">Descrição</label>
        <textarea class="form-control" id="descricao" name="descricao">{{ equipamento.descricao }}</textarea>
    </div>

    <button type="submit">Salvar Alterações</button>
</form>

{% endblock %}