{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Excluir Equipamento</title>
    <!-- Adicione o link para o seu arquivo CSS aqui -->
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container container_excluir_equipamento">
        <div class="excluir_equipamento-form">
            <h1>Excluir Equipamento</h1>
            <p>Tem certeza que deseja excluir o equipamento "{{ equipamento.nome }}"?</p>
            <form action="{% url 'excluir_equipamento' equipamento_id=equipamento.id %}" method="POST">
                {% csrf_token %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                <input type="submit" class="btn btn-danger" value="Excluir">
                <a href="{% url 'listar_equipamentos' %}" class="btn btn-secondary">Cancelar</a>
            </form>
        </div>
    </div>
</body>
</html>
