{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Página de Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>

<body>
    <div class="container">
        <div class="login-form">
            <h1>Login</h1>
            <form method="post" action="{% url 'index' %}">
                {% csrf_token %}
                <input type="text" id="username" name="username" placeholder="Usuário" required>
                <input type="password" id="password" name="password" placeholder="Senha" required>
                <input type="submit" value="Login">
            </form>
            
            
            <a href="{% url 'register' %}" class="btn_cadastro">Clique aqui para se cadastrar</a>

            {% if error_message %}
            <p class="error_message">{{ error_message }}</p>
            {% endif %}
        </div>
    </div>
</body>

</html>
