{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Página de Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">

</head>
<body>
    <div class="container">
        <div class="login-form">
            <h1>Sistema de Agendamentos</h1>
            <form method="post">
                {% csrf_token %}
                <label for="username">Usuário:</label>
                <input type="text" name="username" id="username">

                <label for="password">Senha:</label>
                <input type="password" name="password" id="password">

                <input type="submit" value="Login">
            </form>

            {% if user.is_authenticated %}
                <p>Bem-vindo, {{ user.username }}!</p>
                <a href="{% url 'home' %}">Ir para a página inicial</a>
                <!-- Outros conteúdos da página após o login -->
            {% else %}
                <!-- Conteúdo adicional para os usuários não autenticados, se necessário -->
            {% endif %}
        </div>
    </div>
</body>
</html>
