{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Meus Agendamentos</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>

<body>
    <div class="container_cliente">
        <div class="cliente-form">
            <h1>Meus Agendamentos</h1>
            <a class="btn_separado" href={% url 'agendar_equipamento' %}><button class="btn_separado">Agendar Equipamento</button></a>
            <a class="btn_separado" href={% url 'visualizar_equipamentos' %}><button class="btn_separado">Listar equipamentos disponiveis</button></a>
            <a class="btn_separado" href={% url 'historico' %}><button class="btn_separado">Histórico</button></a>
            <a class="btn_separado" href={% url 'cliente' %}><button class="btn_separado">Voltar</button></a>
            <!-- Lista de agendamentos do usuário -->
            <ul>
                {% for agendamento in agendamentos %}
                <li>{{ agendamento }}</li>
                {% empty %}
                <li>Você não possui nenhum agendamento.</li>
                {% endfor %}
            </ul>
            
            {% if error_message %}
            <p>{{ error_message }}</p>
            {% endif %}
        </div>
    </div>
    <footer>
        <p>&copy; 2024 Sistema de Agendamentos</p>
    </footer>
</body>

</html>


