{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Sistema de Agendamentos - Meus Agendamentos</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container_agendar_equipamento">
        <div class='agendar_equipamento-form'>
            <h2>Meus Agendamentos</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>ID do Agendamento</th>
                        <th>Equipamento</th>
                        <th>Data</th>
                        <th>Hora</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for agendamento in agendamentos %}
                    <tr>
                        <td>{{ agendamento.id }}</td>
                        <td>{{ agendamento.equipamento }}</td>
                        <td>{{ agendamento.data }}</td>
                        <td>{{ agendamento.hora }}</td>
                        <td>
                            <!-- Formulário para reagendar -->
                            <form method="post" action="{% url 'reagendar_agendamento' agendamento.id %}" onsubmit="return confirmarReagendamento()">
                                {% csrf_token %}
                                <input type="submit" class="btn btn-primary" value="Reagendar">
                            </form>
                            <!-- Link para cancelar -->
                            <a href="#" onclick="confirmarCancelamento('{% url 'cancelar_agendamento' agendamento.id %}')" class="btn btn-danger">Cancelar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <!-- Botão de voltar para a página do cliente -->
            <a href="{% url 'cliente' %}" class="btn btn-secondary">Voltar</a>
        </div>
    </div>

    <!-- Script JavaScript para confirmação de cancelamento -->
    <script>
        function confirmarCancelamento(url) {
            if (confirm("Tem certeza que deseja cancelar este agendamento?")) {
                window.location.href = url; // Redireciona para a URL de cancelamento se o usuário confirmar
            }
        }
    </script>
    
    <!-- Script JavaScript para confirmação de reagendamento -->
    <script>
        function confirmarReagendamento() {
            return confirm("Tem certeza de que deseja reagendar este agendamento?");
        }
    </script>
</body>

</html>
