<!DOCTYPE html>
<html>

<head>
    <title>Visualizar Equipamentos</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>

<body>
    <h1>Visualizar Equipamentos</h1>

    <a href="/administrador/">Voltar</a>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Descrição</th>
            </tr>
        </thead>
        <tbody>
            {% for equipamento in equipamentos %}
                <tr>
                    <td>{{ equipamento.nome_equipamento }}</td>
                    <td>{{ equipamento.descricao }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</body>

</html>
