{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Visualizar Equipamentos</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
</head>

<body>
    <div class="container_cliente">
        <div class="cliente-form">
    <h1>Visualizar Equipamentos</h1>

    <a class="btn_separado" href={% url 'cliente' %}><button class="btn_separado">Voltar</button></a>

        <tbody>
            {% for equipamento in equipamentos %}
                <tr>
                    <td>{{ equipamento.nome_equipamento }}</td>
                    <td>{{ equipamento.descricao }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

</body>

</html>
